<h2>List</h2>
  <!--iterate through each library in our Model-->
<div class="row">
  {{#each model as |library|}}
    <div class="col-md-4">
      <!-- component block -->
      <!--pass library as item from right to left, pass it to component library-item....... name of component is always on left side of the assingment in our case is item. -->
      {{#library-item item=library}
      {{#library-item item=library}}
        {{#link-to 'libraries.edit' library.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteLibrary' library}}>Delete</button>
      {{/library-item}}
    </div>
  {{/each}}
</div>
