
<div id="about" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>About</h2>
      <hr>
      <h4>The Library of Living Books is a place for scholars to do research, for artists and writers to seek inspiration, for anyone with curiosity or a sense of humor to reflect on the weirdness of existence.</h4><br>
      <p>Since I imagine the question will present itself in some visitors’ minds (a certain amount of distrust of the virtual is inevitable) I’ll head off any doubts: any text you find in any location of the library will be in the same place in perpetuity. We do not simply generate Library locations as they are requested - in fact, the storage demands would make that impossible.</p>
      <br>
      <hr>
    </div>
  </div>
</div>
