<div class="panel-heading">
  <h3 class="text-center">{{title}}</h3>
                            <!--if passed value number we show number else we show the three dots  -->
  <h1 class="text-center">{{if number number '...'}}</h1>
</div>
