<footer class="page-footer">
  <p>Welcome in this Living Books a practice project in Ember.JS. Please click through and check all menu point and features. You can build.
    Warning if you use your real email address this database is public, so use a fake one if you would like to keep it private as i suggest.
    View the source code on my Github<a href="https://github.com/rouz1130/library-app">GitHub</a>.</p>
</footer>
