<!-- app/templates/navbar.hbs -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <img class="imgN" alt="Brand" src="http://www.mobygames.com/images/i/02/31/689481.png" style="width:100px;height:80px">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {{#nav-link-to 'index'}}<span class="glyphicon glyphicon-home"></span>  Home{{/nav-link-to}}
        {{#nav-link-to 'libraries'}}<span class="glyphicon glyphicon-bookmark"></span> Libraries{{/nav-link-to}}
        {{#nav-link-to 'authors'}}<span class="glyphicon glyphicon-pencil"></span> Authors{{/nav-link-to}}
        {{#nav-link-to 'books'}}<span class="glyphicon glyphicon-folder-open"></span> Books{{/nav-link-to}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
              {{#nav-link-to 'about'}}<span class="	glyphicon glyphicon-comment"></span> About{{/nav-link-to}}
              {{#nav-link-to 'contact'}}<span class="	glyphicon glyphicon-pencil"></span> Contact us{{/nav-link-to}}


              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"> Admin</span><span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                  {{#nav-link-to 'admin.invitations'}}<span class="=glyphicon glyphicon-envelope"></span> Invitations{{/nav-link-to}}
                  {{#nav-link-to 'admin.contacts'}}<span class="=glyphicon glyphicon-user"></span> Contact info{{/nav-link-to}}
                  {{#nav-link-to 'admin.seeder'}}<span class="glyphicon glyphicon-random"></span> Seeder{{/nav-link-to}}
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
